---js
{
year: function () { return (new Date()).getFullYear() }
}
---
<!doctype html>
<html>

<head lang="en">
    {{> head.html }}
</head>

<body>
    <div class="header">
        {{> closebutton.html }}
        <h1>
            <div class="header-left">
                <a href="/">
                    <img id="small-logo" src="/images/naturecompanion.svg" />
                </a>
                <span>{{title}}</span>
            </div>
        </h1>
    </div>

    <div class="single">
        <div>
            {{{ content }}}
            <hr />
            <p>Copyright &copy; 2017-{{year}} Andrew &amp; Penny McKinlay</p>

            <p>Contact <a href="mailto:naturecompanion@mail.com?Subject=NatureCompanion">naturecompanion@mail.com</a></p>

            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License"
                        style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span
                    xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Nature Companion</span> by <span
                    xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Andrew
                    &amp; Penny McKinlay</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
                    Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

            <p>Ownership of photographs as per attribution.</p>
        </div>
    </div>
</body>

</html>