<!doctype html>
<html>

<head lang="en">
    {{> head.html }}
</head>

<body onLoad="filter()">
    <div class="header">
        {{> closebutton.html }}
        {{> helpbutton.html }}
        {{> searchbutton.html }}
        <h1>
            <div class="header-left">
                <a href="/">
                    <img id="small-logo" src="/images/naturecompanion.svg" /></a>
                <span>{{title}}</span>
            </div>
        </h1>
    </div>
    <div style="margin-top: .3em; margin-left: .5em;">
        <input type="checkbox" onchange="filter()" class="hidden" id="_bc">
        <label class="term" for="_bc">BC</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_ab">
        <label class="term" for="_ab">AB</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_sk">
        <label class="term" for="_sk">SK</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_mb">
        <label class="term" for="_mb">MB</label>
    
        <input type="checkbox" onchange="filter()" class="hidden" id="_desert">
        <label class="term" for="_desert">desert</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_forest">
        <label class="term" for="_forest">forest</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_grassland">
        <label class="term" for="_grassland">grassland</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_mountain">
        <label class="term" for="_mountain">mountain</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_ocean">
        <label class="term" for="_ocean">ocean</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_urban">
        <label class="term" for="_urban">urban</label>
        <input type="checkbox" onchange="filter()" class="hidden" id="_wetland">
        <label class="term" for="_wetland">wetland</label>
    </div>
    <div class="list">
        {{#items}}
        <div class="item" id="{{data.page.fileSlug}}">
            <a href="/{{page.fileSlug}}/{{data.page.fileSlug}}/">
                <img class="small"
                    src="/photos/{{page.fileSlug}}/small/{{data.page.fileSlug}}.jpg" />
                <div class="name">{{data.name}}</div>
            </a>
        </div>
        {{/items}}
    </div>
    <script>
        let items = [
            {{#items}}["{{data.page.fileSlug}}", "{{data.habitat}}", "{{data.location}}"],
            {{/items}}];
        function filter() {
            let sel = getSel()
            items.forEach(it => showHide(it, match(it, sel)));
        }
        function getSel() {
            let habSel = [];
            for (let hab of ['desert', 'forest', 'grassland', 'mountain',
                'ocean', 'urban', 'wetland']) {
                let elem = document.getElementById('_' + hab);
                if (elem.checked)
                    habSel.push(hab);
            }
            let locSel = [];
            for (let loc of ['bc', 'ab', 'sk', 'mb']) {
                let elem = document.getElementById('_' + loc);
                if (elem.checked)
                    locSel.push(loc);
            }
            return { "hab": habSel, "loc": locSel };
        }
        function match(it, sel) {
            let habitats = it[1];
            let locations = it[2];
            return match1(habitats, sel.hab) && match1(locations, sel.loc);
        }
        function match1(set, sel) {
            if (sel.length == 0)
                return true;
            for (let x of sel)
                if (set.includes(x))
                    return true;
            return false;
        }
        function showHide(it, visible) {
            const id = it[0];
            document.getElementById(id).style.display = (visible ? "block" : "none")
        }

        // swipe (also in single.html)
        
        const types = ['birds', 'animals', 'plants', 'herps', 'insects', 'trees']

        document.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchend', handleTouchEnd, false);

        var xDown = null;
        var yDown = null;

        function handleTouchStart(evt) {
            xDown = event.changedTouches[0].clientX;
            yDown = event.changedTouches[0].clientY;
        };

        const X_THRESHOLD = window.screen.width * .4;
        const Y_THRESHOLD = window.screen.height * .2;

        function handleTouchEnd(evt) {
            if (!xDown || !yDown)
                return;

            var xUp = event.changedTouches[0].clientX;
            var yUp = event.changedTouches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if (Math.abs(xDiff) > X_THRESHOLD && Math.abs(yDiff) < Y_THRESHOLD) {
                let i = types.indexOf('{{page.fileSlug}}');
                if (i != -1) {
                    if (xDiff > 0)
                        i = (i + 1) % types.length;
                    else
                        i = (i + types.length - 1) % types.length;
                    window.location.href = '/' + types[i] + '/';
                }
            }
            xDown = null;
            yDown = null;
        };
    </script>
</body>

</html>