<!doctype html>
<html>

<head lang="en">
    {{ partial "head.html" . }}
</head>

<body>
    <div class="header">
        <h1>
            <a href="/help.html"><image id="help" src="images/help.svg" /></a>
            <a href="/"><image id="search" src="images/search.svg" /></a>
            <div class="header-left">
                <a href="/">
                    <img id="small-logo" src="images/naturecompanion.svg" /></a>
                    <span>Reptiles &amp; Amphibians</span>
            </div>
        </h1>
    </div>

    <div class="list">
        {{ range $.Site.Pages }}
            {{ if isset .Params "name" }}
            {{if eq .Section "herps"}}
                <div class="item">
                <a href="{{ .Section }}/{{ .File.BaseFileName }}.html">
                    <img class="small" 
                        src="photos/{{ .Section }}/small/{{ .File.BaseFileName }}.jpg" />
                    <div class="name">{{ .Params.name }}</div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        {{ end }}
    </div>

</body>
</html>
