<!doctype html>
<html>

<head lang="en">
    <title>{{ .Params.name }} - Nature Companion</title>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="header">
        <h1>
            <a href="/birds.html"><image id="close" src="/images/close.svg" /></a>
           <div class="header-left">
                <a href="/"><image id="small-logo" src="/images/naturecompanion.svg" /></a>
                <span>{{ .Params.name }}</span>
            </div>
        </h1>
    </div>
            
     <div class="single">
        <div>
            <img class="large" src="/photos/{{ .Section }}/large/{{ .File.BaseFileName }}.jpg" />
            <div class="attribution">
                {{ if isset .Params "attr" }}
                <a href="{{ .Params.attr_link }}" target="_blank">photo</a> by {{ .Params.attr }}
                / <a href="{{ .Params.license_link }}" target="_blank">{{ .Params.license }}</a>
                {{ end }}
            </div>
        </div>
        <div class="content">
        {{ .Content }}
        {{ partial "map.svg" . }}
        </div>
    </div>
</body>

</html>
